<%= content_for :page_title do %>
  <p class="subtitle">
    Let's create an account
  </p>
<% end %>

<%= form_with(model: user, url: users_path) do |form| %>
  <% if user.errors.any? %>
    <div class="has-text-danger">
      <h2 class="has-text-danger"><%= pluralize(user.errors.count, "error") %> prohibited to create your user:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <div class="control">
        <%= form.label :username, class: "label"%>
        <%= form.text_field :username, class: "input" %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <%= form.label :email, class: "label" %>
        <%= form.email_field :email, class: "input" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.submit 'Create', class: 'button is-link' %>
        <%= link_to "Back to Home", root_path, class: 'is-link' %>
      </div>
    </div>
<% end %>
